[submodule "ciccreator"]
	path = ciccreator
	url = https://github.com/wulffern/ciccreator
[submodule "oscic"]
	path = oscic
	url = https://github.com/wulffern/oscic
[submodule "cic2verilog"]
	path = cic2verilog
	url = https://github.com/wulffern/cic2verilog
